<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/date.css">
    <link rel="stylesheet" href="/css/pagcadastro.css">
    <link href='https://fonts.googleapis.com/css?family=roboto' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Tela de agendamento</title>
</head>

<body>

    <div class="container engloba">

        <%- include ('partials/menuLateral.ejs'); %>

        <div class="wrapper">
    
            <div class="content">
                <h1>Agendamento Online</h1>
            </div>    

            <div class="tables">
                <table border="1px" cellpadding="5px" cellspacing="0" ID="alter">
                    <tr class="top">
                        <td width="55" height="40" align="center">Hora </td>
                        <td align="center">Descrição</td>
                        <td align="center">Tipo</td>
                        <td align="center">Status</td>
                        <td align="center">Valor</td>
                    </tr>
                    <% consultas.forEach(consulta => {%>

                        <% if(consulta.hora == "8:30"){%>
                            <tr class="dif">
                                <td align="center"> 8:30 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td> 
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "9:10"){%>
                            <tr class="dif">
                                <td align="center"> 9:10 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "9:50"){%>
                            <tr class="dif">
                                <td align="center"> 9:50 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "10:30"){%>
                            <tr class="dif">
                                <td align="center"> 10:30 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "11:10"){%>
                            <tr class="dif">
                                <td align="center"> 11:10 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "11:50"){%>
                            <tr class="dif">
                                <td align="center"> 11:50 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "13:30"){%>
                            <tr class="dif">
                                <td align="center"> 13:30 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "14:10"){%>
                            <tr class="dif">
                                <td align="center"> 14:10 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "14:50"){%>
                            <tr class="dif">
                                <td align="center"> 14:50 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "15:30"){%>
                            <tr class="dif">
                                <td align="center"> 15:30 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>

                        <% if(consulta.hora == "16:10"){%>
                            <tr class="dif">
                                <td align="center"> 16:10 </td>
                                <td align="center" height="35"> <a href="/agenda/consulta/<%= consulta.id %>"><%= consulta.nome %></a></td>
                                <td align="center"><%= consulta.tipo %></td>
                                <td align="center"><%= consulta.status %></td>
                                <td align="center"><%= consulta.valor %></td>
                            </tr>
                        <% } %>
                        
                    <% }); %>    
                </table>
            </div>
    
    
            <div class="date-picker">
                <div class="selected-date"></div>
    
                <div class="dates">
                    <div class="month">
                        <div class="arrows prev-mth">&lt;</div>
                        <div class="mth"></div>
                        <div class="arrows next-mth">&gt;</div>
                    </div>
    
                    <div class="days"></div>
                </div>
            </div>
    
            <form class="text-box" method="POST" action="/salvarConsulta">
                <div class="hora">
                    <h4>Hora</h4>
                    <select id="" class="form-control " name="hora">
                        <option selected></option>
                        <option> 8:30</option>
                        <option> 9:10</option>
                        <option> 9:50</option>
                        <option> 10:30</option>
                        <option> 11:10</option>
                        <option> 11:50</option>
                        <option> 13:30</option>
                        <option> 14:10</option>
                        <option> 14:50</option>
                        <option> 15:30</option>
                        <option> 16:10</option>
                    </select>
                </div>
                <div class="tipo">
                    <h4>Tipo de Compromisso</h4>
                    <input type="text" name="tipo" size="23" />
                </div>
                <div class="nome">
                    <h4>Nome do Paciente</h4>
                    <input type="text" name="nome" size="30" />
                    <button type="">&#128269;</button>
                </div>
                <div class="convenio">
                    <h4>Convênio</h4>
                    <select id="inputConvenio" class="form-control " name="convenio">
                        <option selected></option>
                        <option> Cassi</option>
                        <option> Particular</option>
                        <option> Part desc.</option>
                    </select>
                </div>
                <div class="valor">
                    <h4>Valor</h4>
                    <input type="text" name="valor" size="9" />
                </div>
                <div class="status">
                    <h4>Status</h4>
                    <select id="inputStatus" class="form-control " name="status">
                        <option selected></option>
                        <option> Aguardando</option>
                        <option>Atendido</option>
                        <option>Nao Compareceu</option>
                    </select>
                </div>
                <div class="chegada">
                    <h4>Chegada</h4>
                    <input type="text" name="chegada" size="12" />
                </div>
                <div class="atendido">
                    <h4>Atendido</h4>
                    <input type="text" name="atendido" size="12" />
                </div>
                <div class="notas">
                    <h4>Notas</h4>
                    <textarea name="notas" cols="50" rows="2"></textarea>
                </div>


                <button class="btn-create" type="submit"
                        style="border-color:black;background-color: #75ddba; color: black; width:94px; height:37px;  border-radius: 30px;"><b>Gravar</b></button>

                
            </form>

            <form method="GET" action="/agenda">
                <button class="btn-novo" type="submit"
                    style="border-color:black;background-color: #75ddba; color: black; width:94px; height:37px;  border-radius: 30px;"><b>Novo</b></button>
            </form>

        </div>

        
    </div>

    <script src="/js/script.js"></script>
</body>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        
        var decision = confirm("Você quer escluir esta consulta?");

        if(decision){
            form.submit();
        }
    }
</script>

</html>
